<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | Vapie</title>
    <link rel="icon" type="image/svg" href="~/assets/images/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="~/fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
    <link href="~/fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link href="~/libs/toastr.js/toastr.css" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>
<body>
    <div class="container-fluid">
        <div class="row min-vh-100">
            <div class="col-12">
                @await Component.InvokeAsync("Header")
            </div>

            <div class="col-12">
                <main class="row">
                    @RenderBody()
                </main>
            </div>

            <div class="col-12 align-self-end">
                <footer class="row">
                    <div class="col-12 bg-dark text-white pb-3 pt-5">
                        <div class="row">
                            <div class="col-lg-2 col-sm-4 text-center text-sm-left mb-sm-0 mb-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="footer-logo">
                                            <a asp-controller="Home" asp-action="Index">Vapie</a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <address>
                                            Nizami küçəsi 96<br>
                                            Bakı, Azərbaycan
                                        </address>
                                    </div>
                                    <div class="col-12">
                                        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                                        <a href="#" class="social-icon"><i class="fab fa-pinterest-p"></i></a>
                                        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                                        <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-lg-3 col-sm-8 text-center text-sm-left mb-sm-0 mb-3">
                                    <div class="row">
                                        <div class="col-12 text-uppercase">
                                            <h4>Who are we?</h4>
                                        </div>
                                        <div class="col-12 text-justify">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet vel ligula vel sodales. Aenean vel ullamcorper purus, ac pharetra arcu. Nam enim velit, ultricies eu orci nec, aliquam efficitur sem. Quisque in sapien a sem vestibulum volutpat at eu nibh. Suspendisse eget est metus. Maecenas mollis quis nisl ac malesuada. Donec gravida tortor massa, vitae semper leo sagittis a. Donec augue turpis, rutrum vitae augue ut, venenatis auctor nulla. Sed posuere at erat in consequat. Nunc congue justo ut ante sodales, bibendum blandit augue finibus.</p>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="col-lg-2 col-sm-3 col-5 ms-lg-auto ms-sm-0 ms-auto mb-sm-0 mb-3">
                                <div class="row">
                                    <div class="col-12 text-uppercase">
                                        <h4>Sürətli Keçidlər</h4>
                                    </div>
                                    <div class="col-12">
                                        <ul class="footer-nav">
                                            <li>
                                                <a asp-action="Index" asp-controller="Home">Ana Səhifə</a>
                                            </li>
                                            <li>
                                                <a asp-action="index" asp-controller="blog">Bloq</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-2 col-4 me-auto mb-sm-0 mb-3">
                                <div class="row">
                                    <div class="col-12 text-uppercase text-underline">
                                        <h4>Kömək</h4>
                                    </div>
                                    <div class="col-12">
                                        <ul class="footer-nav">
                                            <li>
                                                <a asp-action="Faqs" asp-controller="Home">Tez-Tez verilən suallar</a>
                                            </li>
                                            <li>
                                                <a asp-action="Contact" asp-controller="Home">Bizimlə Əlaqə</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 text-center text-sm-left">
                                <div class="row">
                                    <div class="col-12">
                                        <h4>Kompaniyalar və Endirimlər</h4>
                                    </div>
                                    <div class="col-12">
                                        <form method="post" id="subscribeForm">
                                            <div class="mb-3">
                                                <input type="email" name="Email" id="email" class="form-control" placeholder="Elektron poçtunuzu daxil edin..." required>
                                            </div>
                                            <div class="mb-3">
                                                <button id="btnSubs" type="submit" class="btn btn-outline-light text-uppercase">Abunə olun</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/script.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script src="~/admin/files/assets/js/customize.js"></script>
    <script>

        let btn = document.getElementById('btnSubs');
        $(document).ready(function () {
            function showCardCount() {
                let items = ($.cookie('cards') || '').split(',');
                $('#header-qty').html(items.length - 1);

            }
            showCardCount();
            $('#subscribeForm').submit(function (e) {
                e.preventDefault();
                let formData = new FormData(e.currentTarget);
                btn.disabled = true;
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Subscribe", "Home")",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.error == true) {
                            e.currentTarget.reset();
                            btn.disabled = false;
                            toastr.error(response.message, 'Texniki xeta bash verdi!');
                            return;
                        }
                        e.currentTarget.reset();
                        btn.disabled = false;
                        toastr.success(response.message, 'Subscribe confirmation sended to your mail');
                    },
                    error: function (response) {
                        toastr.error(response.message, "Texniki Xeta!");
                        btn.disabled = false;
                    }

                });
            });
            function readFromCookie() {
                return ($.cookie('cardsForCookie') || '').split(',');
            }
            function showWishlistCount() {
                let items = readFromCookie();
                $('#header-favorite').html(items.length - 1);

            }
            showWishlistCount();
        });
    </script>
    <script>
        $(document).on("keyup", "#searchBtn", function (e) {
            e.preventDefault()
            console.log($(this).val())
            let url = $("#searchForm").attr("action");
            fetch(url + "?key=" + $(this).val()).then(res => {
                return res.text()
            }).then(data => {
                $("#productList").html(data)
            })
        })
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/6306afae37898912e964fd3b/1gb91sh0v';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    @RenderSection("js", required: false)
</body>
</html>